/* SETTING UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

li {
  padding: 15px;
}

a, p {
  color: #677788;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  color: #2476FF;
}

h1 {
  font-size: 40px;
}


/* GOOGLE FONTS STYLING */
.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* HEADER STYLING */
.top-section {
  position: relative;
  width: 100vw;
}

.top-section::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url("/assets/bg/background-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-section-content { 
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #F6F8FA;
  height: 86px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 154.9px;
  min-height: 46.1px;
  gap: 10px;
}

/* .header-logo {
  max-width: 154.9px;
  max-height: 46.1px;
  gap: 10px;
} */

.header .nav {
  display: flex;
  flex-direction: row;
  min-width: 471px;
  min-height: 57px;
  padding: 6px 14px;
  gap: 30px;
}

.nav-list { 
  display: flex;
  flex-direction: row;
  list-style-type: none;
  min-width: 311px;
  min-height: 17px;
  gap: 20px;
}

/* .header-right-hand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header-right-hand nav ul {
  display: flex;
  list-style-type: none;
} */

.nav .trigram {
  display: none;
}

.pill {
  display: flex;
  background-color: #2476FF;
  color: white;
  border: 1px solid #2476FF;
  min-width: 102px;
  min-height: 45px;
  border-radius: 30px;
  padding: 15px 25px;
  gap: 8px;
  font-size: 12px;
}

.pill:hover {
  background-color: white;
  color: #2476FF;
  border: 1px solid #2476FF;
}

.hero-section {
  display: flex;
  flex-direction: row;
  width: 1024px;
  min-height: 446px;
  padding: 40px 30px 0px;
}

.hero-section .left-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 406px;
  padding-bottom: 60px;
  gap: 30px;
}

.hero-section .left-part .title {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 172px;
  gap: 11px;
}

.hero-section .left-part .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
  min-height: 48px;
}

.hero-section .right-part {
  width: 50%;
  height: 406px;
  position: relative;
}

.hero-section .right-part div {
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
}

.large {
  width: 80px;
  height: 80px;
  padding: 16px;
  z-index: 1;
  background-size: 48px;
}

.small {
  width: 60px;
  height: 60px;
  padding: 10px;
  z-index: 1;
  background-size: 40px;
}

.asana-logo {
  position: absolute;
  top: 10px;
  left: 380px;
  background-image: url("/assets/logos/asana.png");
}

.atlassian-logo {
  position: absolute;
  top: 10px;
  left: 175px;
  background-image: url("/assets/logos/atlassian.png");
}

.calendar-logo {
  position: absolute;
  top: 310px;
  left: 364px;
  background-image: url("/assets/logos/calendar.png");
}

.ads-logo {
  position: absolute;
  top: 290px;
  left: 155px;
  background-image: url("/assets/logos/google-ads.png");
}

.google-logo {
  position: absolute;
  top: 10px;
  left: 64px;
  background-image: url("/assets/logos/google.png");
}

.paypal-logo {
  position: absolute;
  top: 172px;
  left: 44px;
  background-image: url("/assets/logos/paypal.jpg");
}

.weave-logo {
  position: absolute;
  top: 172px;
  left: 262px;
  background-image: url("/assets/logos/weave.png");
}

/* MAIN BODY STYLING */
.why-front-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 354px;
  padding: 0px 30px 80px;
  gap: 40px;
}

.why-front-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 89px;
  gap: 10px;
}

.why-front-title h1 {
  font-size: 26px;
}

.why-front-title p {
  font-size: 16px;
  line-height: 24px;
  max-width: 550px;
}

.bullets-list {
  display: flex;
  flex-direction: row;
  width: 964px;
  min-height: 145px;
  padding: 0px 34px;
}

.bullet {
  display: flex;
  flex-direction: column;
  width: 224px;
  padding: 26px 0px;
  gap: 24px;
  align-items: center;
}

.bullet .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  gap: 4px;
}

.left-wing, 
.right-wing {
  width: 83px;
  height: 1px;
  border: 1px solid #E6E9F2;
}

.bullet-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ECF2FF;
  gap: 10px;  
}

.bullet-inner-circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #0066FF; 
}

.bullet .title {
  min-height: 19px;
  padding: 0px 10px;
  gap: 4px;
  font-size: 16px;
}

.hide { 
  visibility: hidden;
}

/*
.bullet-background {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ECF2FF;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bullet { 
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #0066FF;
}*/


/* CSS BELOW THIS LINE IS FROM THE ORIGINAL FILE MAY BE DELETED IF REFACTOR IS SUCCESSFUL */
/* .tagline-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 386px;
}

.active {
  color: #2476FF;
}

.tagline {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 60px;
  gap: 30px;
}

.tag-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
} */

/* .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  position: relative;
  align-self: flex-start;
} */

/* .icon-container img {
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* img.large {
  width: 80px;
  height: 80px;
  padding: 12px;
}

img.small {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.asana-logo {
  position: absolute;
  top: 10px;
  left: 380px;
}

.atlassian-logo {
  position: absolute;
  top: 10px;
  left: 175px;
}

.calendar-logo {
  position: absolute;
  top: 310px;
  left: 364px;
}

.ads-logo {
  position: absolute;
  top: 290px;
  left: 155px;
}

.google-logo {
  position: absolute;
  top: 10px;
  left: 64px;
}

.paypal-logo {
  position: absolute;
  top: 172px;
  left: 44px;
}

.weave-logo {
  position: absolute;
  top: 172px;
  left: 262px;
}  */
/* 
.section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 80px;
  gap: 40px;
}

.why-front {
  padding-top: 30px;
}

.why-front .section-title { 
  width: 550px;
  height: 89px;
}

.section-title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.section-title h2 {
  font-size: 26px;
}

.section-title p {
  font-size: 16px;
  line-height: 24px;
  color: #677788;
  text-align: center;
}

.stages {
  display: flex;
  flex-flow: row nowrap;
}

.stage { 
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  gap: 24px;
}

.stage .text { 
  font-size: 16px;
  gap: 4px;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left-wing {
  width: 83px;
  height: 1px;
  border: 1px solid #E6E9F2;
}

.stages .stage:first-child .left-wing,
.stages .stage:last-child .right-wing {
  visibility: hidden;
}

.right-wing {
  width: 83px;
  height: 1px;
  border: 1px solid #E6E9F2;
}

.bullet-background {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ECF2FF;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bullet { 
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #0066FF;
}

.section.pricing {
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 30px 120px;
  gap: 60px;
  align-items: center;
  text-align: center;
}

.pricing-details { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
  gap: 50px;
  text-align: left;
}

.card:hover {
  border: 1px solid #E2E2E2;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
}

.card .top {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: flex-start;
}

.card .top p {
  color: #677788;
}

.price-per {
  display: flex;
  align-items: flex-end;
}

.price-per h1 {
  font-size: 50px;
}

.price-per h2 {
  font-size: 20px;
  color: #677788;
}

.card-divider {
  width: 100%;
  height: 1px;
  border: 1px solid #E6E9F2;
}

.pricing-details .bottom p {
  color: #677788;
}

.guarantees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.guarantees .top-row, 
.guarantees .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}


.guarantee {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  padding: 20px;
  border: 1px solid white;
  width: 277px;
  height: 219px;
}

.guarantee .top {
  width: 50px;
  height: 50px;
}

.guarantee .middle {
  display: flex;
  gap: 10px;
}

.middle .badge {
  background-color: #01C9A7;
  border: 1px solid #01C9A7;
  border-radius: 15px;
  padding: 4px 10px;
  color: white;
}

.guarantee .bottom {
  font-size: 14px;
  display: flex;
}

.section.hire-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #20335B;
  color: white;
  padding: 80px;
  gap: 80px;
}

.hire-us .left-hand-side {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  gap: 60px;
}


.left-hand-side .section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 32px;
}

.left-hand-side .section-title p {
  text-align: left;
}

.quote-attribution {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote-attribution img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hires-us .right-hand-side {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  gap: 10px;
  height: 100%;
  text-align: left;
}

.left-hand-side .section-title {
  gap: 32px;
  align-items: flex-start;
  
}

.hiring-form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: black;
  padding: 30px;
  gap: 37px;
  border-radius: 10px;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-title {
  font-size: 16px;
}

.full-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hiring-form input,
.hiring-form select,
.hiring-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}

.hiring-form textarea {
  height: 100px;
  resize: none;
}

.form-group {
  display: flex;
  gap: 20px;
}

.marketing-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.privacy-policy {
  display: flex;
  gap: 28px;
}

.private {
  text-decoration: dotted underline;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 40px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
  width: 100%;
}

.footer-logo {
  height: 30px;
  width: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  gap: 9px;
}

.menu-item .badge {
  background-color: #2576FF;
  border: 1px solid #2576FF;
  border-radius: 3px;
  padding: 2px 4px;
  color: white;
  font-size: 8px;
}

.site-map {
  display: flex;
  flex-direction: row;
  gap: 49px;
  justify-content: space-between;
}

.site-hub {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.site-locations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #677788
}

.footer-icon {
  color: #677788;
} */